<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<%- include('./partials/nav') %>

    <h1><%= title %></h1>
    <ul class="listado">
      <% books.forEach(book => { %>
        <li class="listado-item"></li>
        <a href="/libro/<%= book.id%>">
          <%= book.titulo %>
          </a>
      <% }) %>
    </ul>




    <p>Welcome to <%= title %></p>

    <!-- La imagen esta dentro de la carpeta public/images ´pero se renderiza sin public-->
    <img src="/images/gatito.jpg" alt="Gatito">
  </body>
</html>
