<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.titulo %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/nav') %>

    <h1><%= book.titulo %> - <%= book.autor.nombreCompleto %></h1>
    <!-- Mostrar la portada-->
    <p>$<%= book.precio %></p>
    <img src="<%= book.portada %>" alt="">
    
</body>

</html>